{% extends 'admin_mart/layout.html' %}

{% block body %}
    
    {% if user.is_authenticated %}

        <div class="p-3">
            <p style="color: green">Success: You are now logged in.</p>
            <h2>Hello, {{user.username}}</h2>
            <br>
            <p>One can log in and report an incident and view saved incidents.</p>
            <p>Admin can view the forms.</p>
        </div>

    {% else %}

        <div class="p-3">
            <p>One can log in and report an incident and view saved incidents.</p>
            <p>Admin can view the forms.</p>
        </div>        

    {% endif %}
    
{% endblock %}